@use "../config/" as *;

// .feature-section {
//   background: url("/img/feature-m.webp") center/cover;
//   padding: 4rem 2rem;
//   position: relative;
//   .btn {
//     display: none;
//   }
//   .card {
//     &-list {
//       display: flex;
//       flex-wrap: wrap;
//       gap: 1.2rem;
//     }

//     &-item {
//       position: relative;
//       width: calc(100% - 2rem);
//       border-radius: 1.4rem;
//       padding: 1.2rem;
//       margin-left: 2rem;
//       margin-top: 2rem;
//       border: 0.1rem solid #ffffff;
//       backdrop-filter: blur(2rem);
//       background: linear-gradient(
//         139.6deg,
//         rgba(255, 255, 255, 0.4) 4.41%,
//         rgba(209, 209, 209, 0.4) 96.51%
//       );
//     }

//     &-icon {
//       background-color: var(--white);
//       width: 6rem;
//       height: 6rem;
//       border-radius: 1.2rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       position: absolute;
//       top: -2rem;
//       left: -2rem;

//       img {
//         width: 4rem;
//       }
//     }

//     &-title {
//       margin-bottom: 2rem;
//       padding-left: 4rem;
//     }

//     &-content {
//       font-size: 1.2rem;
//     }
//   }
//   h3{
//     font-weight: 600;
//   }
//   .btn {
//     margin-top: 2rem;
//   }
// }

// @include mq(lg) {
//   .feature-section {
//     background: url("/img/feature.webp") center/cover;
//     min-height: 100vh;
//     padding-inline: unset;
//     .btn {
//       display: flex;
//     }
//     .card-list {
//       gap: 8rem;
//       justify-content: center;
//       max-width: var(--max-width);
//       margin-inline: auto;
//     }

//     .card-title {
//       padding: unset;
//       margin-bottom: 1.5rem;
//     }

//     .card-content {
//       font-size: 1.2rem;
//     }

//     h3 {
//       font-size: 2.8rem;
//     }

//     .card-item {
//       width: 40%;
//       padding: 3.5rem 5.5rem;
// border-radius: 2.2rem;
//       &:nth-child(3) {
//         margin-right: auto;
//       }

//       &:nth-child(4),
//       &:nth-child(2) {
//         margin-right: 3rem;
//         margin-left: unset;
//         .card-title {
//           padding: unset;
//         }

//         .card-icon {
//           left: unset;
//           right: -2rem;
//         }
//       }
//     }
//   }
// }

// @include mq(xl) {
//   .feature-section {
//     .card-icon {
//       width: 9.9rem;
//       height: 9.9rem;
//       top: -3rem;
//       left: -6rem;

//       img {
//         width: 6.4rem;
//       }
//     }
//     .card-item {
//       &:nth-child(4),
//       &:nth-child(2) {
//         .card-icon {
//           right: -6rem;
//         }
//       }
//     }
//   }
// }


.feature-section-class {
  padding: 0 88px 50px;

  .cardOptions {
    box-shadow: 0px 0px 40px 0px #C1D0DC40;
    background: #FFFFFF99;
    padding: 80px 100px;
    display: grid;
    gap: 80px;
    border-radius: 20px;

    .cardOptionOne {
      display: flex;
      gap: 80px;
      justify-content: center;
      padding: 0 97px;
    }

    .cardOptionTwo {
      display: flex;
      justify-content: space-between;
      gap: 165px;
    }
  }

  .card-item {
    border: 2px solid #DEDEDE;
    border-radius: 2px;
    padding: 40px 58px;
    position: relative;
    border-radius: 20px;

    h3 {
      font-family: Gilroy-SemiBold;
      font-size: 28px;
      font-weight: 400;
      line-height: 30.8px;
      color: #292D32;
      margin-bottom: 20px;
    }

    p {
      font-family: Gilroy-Regular;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.4px;
      text-align: justify;
      color: #292D32;
    }
  }

  .card-icon {
    padding: 18px;
    border: 1px solid #DEDEDE;
    border-radius: 20px;
    position: absolute;
    left: -50px;
    top: -50px;
    background: #fff;


    img {
      max-width: 64px;
    }
  }
}

// .atomVerse .cardOptions {
//   background-image: url("/img/atomBg.png");
// }

.newFeatureClass {

  .feature-section-class {
    .card-item:nth-child(2) {
      .card-icon {

        left: unset;
        right: -50px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .feature-section-class {
    padding: 50px 40px;
  }

  .feature-section-class .cardOptions {
    padding: 80px 40px;
  }

  .feature-section-class .card-icon {
    left: -25px;
    top: -25px;

    img {
      max-width: 40px;
    }
  }

  .newFeatureClass .feature-section-class .card-item:nth-child(2) .card-icon {
    right: -25px;
    left: unset;
  }

  .feature-section-class .cardOptions .cardOptionOne,
  .feature-section-class .cardOptions .cardOptionTwo {
    gap: 50px;
    padding: 0;
  }

  header .explore-tray.navbar-active {
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .feature-section-class .card-icon {
    padding: 10px;
    border-radius: 8px;

    // img {
    //   max-width: 25px;
    // }
  }

  .feature-section-class .card-item {
    padding: 40px 20px;
  }

  .feature-section-class .card-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .feature-section-class .cardOptions {
    gap: 50px;
  }

  .footer.footer_new .footer-top-new {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .feature-section-class {
    padding-inline: 20px;
  }

  .offer-section .btn-close {
    opacity: 1;
  }

  header .explore-tray.navbar-active {
    padding: 15px 15px 150px;
  }

  .feature-section-class .cardOptions {
    // grid-template-columns: 1fr;
    gap: 40px;

  }

  .feature-section-class .cardOptions .cardOptionOne,
  .feature-section-class .cardOptions .cardOptionTwo {
    flex-direction: column;
    gap: 40px;
  }
}