@use "../config/" as *;

.footer {
  position: relative;
  isolation: isolate;
  padding-inline: 2rem;

  .footer-text {
    font-family: Gilroy-Bold;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.86px;
    color: #fff;
  }

  &::before {
    content: "";
    width: 100%;
    height: 140%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(125.1deg, #ecc243 26.81%, #d2971f 89.01%);
  }

  &-link-title {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-family: Gilroy-Bold;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.81px;
    letter-spacing: 0.3em;
    display: inline-block;
  }

  &-link-list {
    width: 50%;
    margin-bottom: 3rem;

    &:nth-child(3),
    &:last-child {
      width: 100%;
    }

    &:nth-child(3) {
      margin-bottom: 4rem;
    }

    &.footer-link-list-last {
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 0.1rem;
        background-color: #c6830e;
        position: absolute;
        top: -2rem;
        left: 0;
      }

      li {
        a {

          margin-bottom: 2rem;
          // font-size: 1.6rem;
          font-family: Gilroy-Medium;
          font-size: 16px;
          font-weight: 400;
          line-height: 32px;
          align-items: center;
          text-transform: unset;
        }
      }
    }
  }

  li {
    a {
      font-family: Gilroy-Medium;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      text-transform: capitalize;
    }
  }

  &-top {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    display: flex;
    color: #fff;
  }

  .icon {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    margin-right: 1.4rem;
  }

  &-bottom {
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1rem solid #ffffff;
  }
}

.blogs-page {
  .footer {
    margin-inline: -2.5rem;
    padding-top: 4rem;
    isolation: unset;

    &::before {
      background: linear-gradient(100deg, #292D32 58.99%, #000000 104.8%);
    }
  }
}

@include mq(lg) {
  .footer {
    .footer-link-list {
      width: 30%;
      flex-shrink: 0;
      padding: 0;

      &:last-child {
        margin-left: auto;

        &::before {
          display: none;
        }
      }
    }

    &-top,
    &-bottom {
      max-width: var(--max-width);
      margin-inline: auto;
    }
  }
}


.footer.footer_new {
  padding-inline: 125px;

  .footer-top-new {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    width: fit-content;
  }
}

@media (max-width: 991px) {

  .footer.footer_new {
    padding-inline: 40px;
  }

  .footer.footer_new .footer-top-new {
    grid-template-columns: repeat(2, auto);
    gap: 25px;
  }


}

@media (max-width: 767px) {

  .about-section {
    padding-inline: 20px;
  }

  .footer-link-list.footer-link-list-last::before {
    display: none;
  }

  .footer-link-list.footer-link-list-last {
    margin-top: 40px !important;
  }

  .footer.footer_new {

    .col-12.pe-0,
    .col-12.ps-0 {
      padding: 0;
    }
  }

  .footer-link-title {
    color: #000;
    margin-bottom: 10px;
  }

  .footer li a {
    font-family: Gilroy-Medium;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.28px;
  }

  #root>div>footer>div.row.m-0.my-5>div.col-md-8.col-12.ps-0>div>ul:nth-child(2)>li:nth-child(3)>a {
    line-height: 14px;
  }

  .blogs-page .footer .footer-link-title {
    color: #fff;
  }
}