@use "../config/" as *;

.footer {
  position: relative;
  isolation: isolate;
  padding-inline: 2rem;
  .footer-text {
    font-size: 1.3rem;
    font-weight: 500;
  }
  &::before {
    content: "";
    width: 100%;
    height: 140%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(125.1deg, #ecc243 26.81%, #d2971f 89.01%);
  }
  &-link-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  &-link-list {
    width: 50%;
    margin-bottom: 3rem;
    &:nth-child(3),
    &:last-child {
      width: 100%;
    }
    &:nth-child(3) {
      margin-bottom: 4rem;
    }
    &:last-child {
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 0.1rem;
        background-color: #c6830e;
        position: absolute;
        top: -2rem;
        left: 0;
      }
      li {
        margin-bottom: 2rem;
        font-size: 1.6rem;
      }
    }
  }
  li {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    font-weight: 300;
  }
  &-top {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    display: flex;
  }
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    margin-right: 1.4rem;
  }
  &-bottom {
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1rem solid #ffffff;
  }
}
.blogs-page{
  .footer{
    margin-inline: -2.5rem;
    padding-top: 4rem;
    isolation: unset;
    &::before{
      background: linear-gradient(100deg, #292D32 58.99%, #000000 104.8%);
    }
  }
}
@include mq(lg) {
  .footer {
    .footer-link-list {
      width: 30%;
      flex-shrink: 0;
      &:last-child {
        margin-left: auto;
        &::before {
          display: none;
        }
      }
    }
    &-top,
    &-bottom {
      max-width: var(--max-width);
      margin-inline: auto;
    }
  }
}
