@use "../config/" as *;

.home-page,
.svs-page,
.blogs-page {
  .explore-tray {
    backdrop-filter: blur(2rem);
    background: linear-gradient(151.22deg,
        rgba(236, 194, 67, 0.5) 9.45%,
        rgba(255, 255, 255, 0.1) 94.83%),
      linear-gradient(0deg, rgba(236, 194, 67, 0.4), rgba(236, 194, 67, 0.4));
  }
}

.blogs-page,
.blogs-detail-page {
  header {

    .menu-title,
    .hamburger {
      filter: invert(1);
    }

    .logo {
      filter: unset;
      display: none;
    }

    .logo-2 {
      display: block;
    }
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 2rem;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  z-index: 10;
  justify-content: space-between;

  .dropdown-menu.show {
    width: unset;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 5px;
    border: none;

    a.dropdown-item {
      font-family: Gilroy-Medium;
      font-size: 14px;
      font-weight: 400;
      line-height: 14.4px;
      color: #292D32;
      white-space: break-spaces;
      background: #fff;
      transition: .5s all ease;
      padding: 10px 15px;
      padding: 12px 8px;
      white-space: nowrap;
      letter-spacing: .5px;


      &:hover {
        background: #ECC243;
        color: #Fff;
        border-radius: 6px;
      }
    }
  }

  .logo {
    button.openMenuBtn {
      background: #fff;
      padding: 10px 10px 10px 40px;
      border-radius: 0 22px 22px 0;

      &.golden {
        background: #ECC243;
      }

      svg {
        color: #292D32;
      }
    }

    .golden svg path {
      stroke: #fff;
    }
  }


  .overlay {
    position: fixed;
    inset: 0;
    z-index: 1;
  }

  .logo {
    width: 4.5rem;
  }

  .logo-2 {
    display: none;
  }

  .secondary-navbar {
    display: none;
  }

  .menu-title,
  .hamburger {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    transition: 500ms;
    cursor: pointer;

    // &:hover {
    //   filter: invert(1);
    // }

    &-icon {
      width: 3rem;
      height: 3rem;
      margin-right: 1.2rem;
    }
  }

  .explore-tray {
    position: absolute;
    width: 100%;
    max-width: 30rem;
    top: 4rem;
    left: -100%;
    z-index: 2;
    padding: 2rem 4.7rem 4rem;
    backdrop-filter: blur(2rem);
    border-radius: 0 1.3rem 1.3rem 0;
    transition: 400ms ease-in-out;
    max-height: 100vh;
    overflow: auto;
    border: 0.1rem solid #ffffff7a;
    background: #0000008f;

    &.navbar-active {
      display: block;
      left: 0;
    }

    .get-in-touch {
      margin-top: 2.5rem;
    }
  }

  .navlink-item {
    width: max-content;
    flex-shrink: 0;

    // button.demo {
    //   transition: 300ms ease-in-out;

    //   &:hover {
    //     color: var(--secondary);
    //   }
    // }
  }

  .navlink-submenu {
    position: relative;

    >button {
      height: 2rem;
      align-items: center;
      display: flex;
      gap: 0.5rem;
      width: max-content;
      padding-inline: 0.5rem;
    }

    .icon {
      rotate: 180deg;
      transition: 300ms;
      width: max-content;
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .submenu-list {
      background: white;
      position: absolute;
      top: 100%;
      width: 100%;
      border-radius: 0 0 0.5rem 0.5rem;

      * {
        color: #292d32;
      }
    }

    .submenu-item {
      padding: 0.5rem;
      line-height: 1;
    }
  }

  .navlink-active {
    background: white;
    border-radius: 0.5rem 0.5rem 0 0;

    button {
      font-weight: 500;
    }

    >* {
      color: #292d32;
    }

    .icon {
      rotate: unset;
    }

    .submenu-list {
      display: block;
    }
  }

  .btn-dropdown {
    width: max-content;
    display: flex;
  }

  .submenu-list {
    display: none;
  }

  .product-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-bottom: 4rem;

    .navlink-item {
      width: calc(50% - 0.8rem);
      background: rgba(255, 255, 255, 0.2);
      transition: 500ms ease-in-out;
      border-radius: 1.35rem;
      padding: 2.6rem 1.4rem 1.5rem;
      padding: 30px 16px 23px;
      position: relative;
      isolation: isolate;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 1.35rem;
        z-index: -1;
        background: linear-gradient(321.8deg,
            rgba(210, 210, 210, 0.238) 0%,
            rgba(255, 255, 255, 0.7) 96.65%);
        border: 0.1rem solid transparent;
        border-color: white;
        opacity: 0;
        transition: 500ms ease-in-out;
        border: none;
      }

      &.navlink-item-bio-verse {

        &::before {
          background: #B3F87B33;
          opacity: 1;
        }

        &:hover {
          background: #74AD45;

          a {
            color: #fff;
          }

          img {
            filter: brightness(0) invert(1);
          }
        }

        a {
          color: #74AD45;
        }
      }

      &.navlink-item-chem-verse {

        &::before {
          background: #8EDAFE33;
          opacity: 1;
        }

        &:hover {
          background: #2D7FA5;

          a {
            color: #fff;
          }

          img {
            filter: brightness(0) invert(1);
          }
        }

        a {
          color: #2D7FA5;
        }
      }

      &.navlink-item-atom-verse {

        &::before {
          background: #C8B6FF33;
          opacity: 1;
        }

        &:hover {
          background: #9E8FCB;

          a {
            color: #fff;
          }

          img {
            filter: brightness(0) invert(1);
          }
        }

        a {
          color: #9E8FCB;
        }
      }

      &.navlink-item-space-verse {

        &::before {
          background: #94C1D733;
          opacity: 1;
        }

        &:hover {
          background: #023047;

          a {
            color: #fff;
          }

          img {
            filter: brightness(0) invert(1);
          }
        }

        a {
          color: #023047;
        }
      }

      &.navlink-item-geo-verse {

        &::before {
          background: #DEB88733;
          opacity: 1;
        }

        &:hover {
          background: #786349;

          a {
            color: #fff;
          }

          img {
            filter: brightness(0) invert(1);
          }
        }

        a {
          color: #786349;
        }
      }

      &.navlink-item-math-verse {

        &::before {
          background: #E76F5133;
          opacity: 1;
        }

        &:hover {
          background: #E76F51;

          a {
            color: #fff;
          }

          img {
            filter: brightness(0) invert(1);
          }
        }

        a {
          color: #E76F51;
        }
      }


      &:hover {
        background: transparent;

        &::before {
          opacity: 1;
        }
      }

      .coming-soon {
        position: absolute;
        bottom: 0;
        inset-inline: -1rem;
        border-radius: 50vmax;
        background-color: #292d32;
        color: #ecc243;
        text-align: center;
        padding: 2px 15px;
        transform: translateY(70%);
        width: fit-content;
        margin: auto;
      }
    }

    .icon {
      width: 3rem;
      height: 3rem;
      object-fit: contain;
      margin-bottom: 30px;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 0.95rem;
    }
  }

  .menu-title {
    margin-bottom: 2.7rem;
    font-size: 1.7rem;
  }

  .sub-menu {
    gap: 22px;
    padding-left: 100px !important;

    &.whiteClr {
      .dropdown button {
        color: #fff;

        &::after {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='white' d='M12.707 15.707a1 1 0 0 1-1.414 0L5.636 10.05A1 1 0 1 1 7.05 8.636l4.95 4.95l4.95-4.95a1 1 0 0 1 1.414 1.414z'/%3E%3C/g%3E%3C/svg%3E");

        }
      }
    }

    .dropdown button {
      font-family: Gilroy-Regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 14.4px;
      color: #292D32;
      background-color: transparent;
      padding: 0;
      box-shadow: none;
      outline: none;
      border: none;

      &:focus,
      &:hover {
        background-color: transparent;
        outline: none;
        box-shadow: none;
        border: none;
      }
    }

    .dropdown.active {

      button {
        color: #ECC243;
        font-family: Gilroy-SemiBold;
      }
    }

    .dropdown.active .dropdown-toggle::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23ecc243' d='M12.707 15.707a1 1 0 0 1-1.414 0L5.636 10.05A1 1 0 1 1 7.05 8.636l4.95 4.95l4.95-4.95a1 1 0 0 1 1.414 1.414z'/%3E%3C/g%3E%3C/svg%3E");
    }

    .dropdown-toggle::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23292d32' d='M12.707 15.707a1 1 0 0 1-1.414 0L5.636 10.05A1 1 0 1 1 7.05 8.636l4.95 4.95l4.95-4.95a1 1 0 0 1 1.414 1.414z'/%3E%3C/g%3E%3C/svg%3E");
      border: none;
      position: relative;
      top: 1.5px;
    }

    button svg path {
      stroke: #292D32;
    }

    // .navlink-item:not(:last-child) {
    //   margin-bottom: 1rem;
    // }
  }
}

.svs-page header {
  .hamburger {
    filter: invert(1);
  }

  .logo {
    filter: unset;
    display: none;
  }

  .logo-2 {
    display: block;
  }

  .secondary-navbar {
    .demo {
      color: black;
      display: none;
    }

    // .navlink-item:not(.navlink-active) {
    //   button {
    //     filter: invert(1);
    //   }
    // }
  }

  .get-in-touch {
    .btn {
      background-color: transparent;
      color: #292d32;
      border: 0.1rem solid #292d32;
    }
  }
}

.sub-menu-mobile {
  display: none;
}

@include mq(md) {
  header {
    padding-top: 3.2rem;
    padding-inline: 4rem;

    .product-list .navlink-item .coming-soon {
      font-size: 1rem;
      width: max-content;
      padding-inline: 1.5rem;
      margin-inline: auto;
    }

    .secondary-navbar {
      margin-left: auto;
      width: max-content;

      .sub-menu {
        display: flex;
        align-items: center;
      }

      .navlink-item {
        margin-right: 3rem;

        // &:not(.navlink-active) {

        //   >a,
        //   >button {
        //     filter: invert(1);
        //   }
        // }
      }

      .sub-menu a {
        font-size: 1.2rem;
      }
    }

    .navlink-item-dropdown .sub-menu {
      display: none;
    }

    .menu-title,
    .hamburger {
      font-size: 1.2rem;
    }

    .logo-wrap {
      position: absolute;
      inset: 0;
      margin: auto;
      width: max-content;
      height: max-content;
      margin-top: 3.2rem;
    }
  }
}

@include mq(lg) {
  header {
    .secondary-navbar {
      display: flex;
    }

    .explore-tray {
      max-width: 46rem;
      top: 3rem;

      .product-list {
        gap: 2.5rem;

        a {
          font-size: 1.4rem;
          line-height: 14px;
          transition: .5s all ease;
        }

        .navlink-item {
          width: calc(33.33% - 1.7rem);
        }

        .icon {
          // width: 4.5rem;
          // width: 4.5rem;
          width: 45px;
          height: 45px;
          transition: .7s all ease;
          filter: brightness(1) invert(0);
          // margin: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {

  header {
    padding-top: 20px;
  }

  .forWebView,
  header .sub-menu {
    display: none !important;
  }

  .sub-menu-mobile {
    display: block;

    li {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  header .explore-tray .get-in-touch {
    margin-bottom: 50px;
  }
}

.forWebView {
  li {
    a {
      font-family: Gilroy-SemiBold;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      color: #292D32;
      margin-bottom: 15px;
      display: inline-block;
    }

    &:last-child {
      a {
        margin: 0;
      }
    }
  }
}