@use "../config/" as *;

.space-verse-page .product-info-section {
  .card {
    &-item {}

    &-count {
      font-size: 3.4rem;

      &::after {
        content: unset;
      }
    }

    &-text {
      font-size: 1.2rem;
      text-transform: none;
      letter-spacing: normal;
    }
  }
}

.atom-verse-page .info-wrapper {
  background: url("/img/product/icon-dark/atom-verse.png") center/contain;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

.bio-verse-page .info-wrapper {
  background: url("/img/product/icon-dark/bio-verse.png") center/contain;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

.chem-verse-page .info-wrapper {
  background: url("/img/product/icon-dark/chem-verse.png") center/contain;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

.space-verse-page .info-wrapper {
  background: url("/img/product/icon-dark/space-verse.png") center/contain;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

@include mq(md) {
  .product-info-section .info-wrapper {
    background-position-y: 15%;
    background-size: 40rem;
  }
}

.product-info-section {
  padding: 5rem 2rem;


  .counter-section {
    border: 0.1rem solid #ffffff;
    border-radius: 2rem;
    padding: 4.5rem 2.5rem;
  }

  .card {
    &-item {
      width: 100%;
      display: flex;
      padding-block: 3rem;
      position: relative;

      &:not(:last-child):after {
        content: "";
        width: 50%;
        height: 0.1rem;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #000000;
      }
    }

    &-icon {
      width: 6rem;
      height: 6rem;
      flex-shrink: 0;
      margin-right: 2rem;
    }

    &-count {
      font-size: 6rem;
      line-height: 1;
      display: flex;
      color: #000;
      font-family: Gilroy-SemiBold;
      font-size: 60px;
      font-weight: 400;
      line-height: 60px;
      color: #000000;

      &::after {
        content: "+";
        font-size: 4rem;
        color: #ecc243;
        font-weight: 400;
        margin-left: 0.5rem;
      }
    }

    &-text {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.7rem;
      margin-top: 0.5rem;
      color: #000;
      font-family: Gilroy-Regular;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 10px;
    }
  }

  .section-title {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .section-sub-title {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    // max-width: 80rem;

    @include mq(md) {
      font-size: 1.6rem;
    }
  }

  .section-sub-title,
  .section-title {
    color: #292D32;
  }

  .get-in-touch {
    margin-top: 4.5rem;
  }
}

@include mq(md) {
  .product-info-section {
    .section-title {
      font-family: Gilroy-SemiBold;
      font-size: 40px;
      font-weight: 400;
      line-height: 40px;
      color: #292D32;
    }

    .section-sub-title {
      margin-inline: auto;
      font-family: Gilroy-Regular;
      font-size: 18px;
      font-weight: 400;
      line-height: 19.8px;
      text-align: justify;
      color: #292D32;
    }

    .card-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .card-item {
      justify-content: center;
      align-items: center;
    }

    .section-sub-title {
      margin-bottom: 5rem;
    }

    .get-in-touch {
      display: flex;
      justify-content: center;
    }
  }
}

@include mq(lg) {
  .product-info-section {
    .info-wrapper {
      max-width: var(--max-width);
      margin-inline: auto;
    }

    .card-item {
      width: 33.33%;

      &:not(:last-child)::after {
        height: 100%;
        width: 0.1rem;
        left: 100%;
      }

      &:first-child {
        padding-right: 4rem;
      }

      &:nth-child(2) {
        padding-inline: 4rem;
      }

      &:nth-child(3) {
        padding-left: 4rem;
      }
    }
  }
}