@use "../config/" as *;

.vr-card-section {
  .w-50 {
    width: 50%;
  }

  .text-light {
    color: #ffffff;
  }

  .text-dark {
    color: #292d32;
  }
  @include mq(md){

    .card-list-svi {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 4rem;
      grid-row-gap: 4rem;
  
      .card:nth-child(1) {
        grid-area: 1 / 1 / 2 / 3;
      }
  
      .card:nth-child(2) {
        grid-area: 1 / 3 / 2 / 5;
      }
  
      .card:nth-child(3) {
        grid-area: 1 / 5 / 2 / 7;
      }
  
      .card:nth-child(4) {
        grid-area: 2 / 1 / 3 / 4;
      }
  
      .card:nth-child(5) {
        grid-area: 2 / 4 / 3 / 7;
      }
    }
  }

  .card {
    padding: 1.9rem 1.6rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;

    &-blue {
      background-color: #19addde5;
    }

    &-sub-title {
      font-size: 1.6rem;
      font-weight: 800;
    }

    &-black {
      background: linear-gradient(139.6deg,
          rgba(109, 110, 110, 0.7) 4.41%,
          rgba(49, 52, 52, 0.7) 96.51%);
    }

    &-light {
      background-color: #ffffff;
    }

    &-orange {
      background: linear-gradient(139.6deg,
          rgba(236, 194, 67, 0.9) 4.41%,
          rgba(198, 131, 14, 0.9) 92.36%);
    }

    &-title {
      font-size: 4.6rem;
      line-height: 1;
      font-weight: 600;
      color: inherit;

      @include mq(xl) {
        font-size: 6rem;
      }
    }

    &-list {
      position: relative;
      background: linear-gradient(139.6deg, #373a3a 4.41%, #191b1b 96.51%);
      padding: 2rem;

      @include mq(md) {
        padding-inline: 4rem;
      }
    }

    @include mq(xl) {
      &-list-svs {
        .card {
          margin-bottom: 0;
        }

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;

        .card-5 {
          grid-column: span 2;
        }
      }
    }

    @include mq(lg) {
      &-list-svs {
        grid-template-columns: repeat(5, 1fr);

        .card-1 {
          grid-column: span 2;
        }

        .card-2 {
          grid-column: span 3;
        }

        .card-3,
        .card-4 {
          grid-column: span 3;
        }

        .card-5 {
          grid-column: 4 / span 2;
          grid-row: 2 / span 2;
        }
      }
    }
  }

  .range-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .range-item {
    padding: 1rem 0.9rem;
    background-color: #f8f8f8;
    border-radius: 0.8rem;
    width: max-content;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
  }

  .card-1 {
    .icon {
      width: 2.8rem;
      height: 2.8rem;
      object-fit: contain;
      object-position: center;
      margin-right: 1.2rem;
    }
  }

  .card-2 {
    .icon {
      width: 2rem;
      margin-bottom: 0.6rem;
    }

    .card-wrap {
      background-color: #f8f8f8;
      padding: 2rem;
      border-radius: 1.6rem;
      row-gap: 2rem;
      display: flex;
      flex-direction: column;
    }

    .icon-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2.5rem;
    }

    .icon-wrap {
      width: 33.33%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-text {
        font-size: 1rem;
      }
    }
  }

  .feature-item {
    display: flex;
    margin-bottom: 1.6rem;
  }

  .card-3 {
    .card-sub-title {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
      font-weight: 600;
    }

    .card-wrap {
      border-radius: 1.6rem;
      padding: 1.4rem;
      background-color: #5e6060;

      .icon-list-wrap {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .icon {
          width: 3rem;
        }
      }

      @include mq(md) {
        display: grid;
        grid-template-columns: 14rem 1fr;
        align-items: center;
        gap: 2rem;

        .icon-list {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }

        .icon-wrap {
          flex-direction: column-reverse;
          justify-content: center;
          text-align: center;
        }

        .card-sub-title {
          font-size: 1.8rem;
          font-weight: 700;
          margin-bottom: 0;
        }
      }

      .icon {
        height: 2.8rem;
        width: auto;
      }
    }

    .icon-wrap {
      gap: 1rem;
      display: flex;
    }

    .icon-list {
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem;
    }

    .card-text {
      min-width: 5rem;
      margin-right: 2rem;

      @include mq(md) {
        margin-right: 0;
      }
    }

    .note {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 2rem;
        width: 3.9rem;
        height: 3.9rem;
        object-fit: contain;
      }

      .card-text {
        font-size: 1.4rem;
      }
    }
  }

  .card-4 {
    position: relative;

    @include mq(md) {
      padding-right: 12rem;
    }

    .icon {
      width: 6rem;
      flex-shrink: 0;

      @include mq(md) {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
      }
    }
  }

  .card-5 {
    .icon {
      width: 7rem;
      flex-shrink: 0;
    }

    .card-wrap {
      padding: 2rem;
      background-color: rgba(white, 0.2);
      border-radius: 2rem;

      .card-title {
        font-size: 4rem;
        margin-bottom: 2rem;
      }

      .text {
        margin-top: 2rem;
      }
    }

    .btn {
      margin-top: 1rem;
    }
  }

  .card-6 {
    .icon {
      max-width: 6.4rem;
      aspect-ratio: 1/1;
    }
  }

  .card-7 {
    .price-wrap{
      @include mq(md){
        display: flex;
      }
    }
    .price-per-verse{
      @include mq(md){
        width: max-content;
        flex-shrink: 0;
      }
    }
    .price {
      font-size: 4rem;
      display: flex;
      align-items: baseline;
      gap: 1rem;
    }

    .before {
      font-size: 0.7em;
      position: relative;

      &::after {
        position: absolute;
        inset: 0;
        content: "";
        height: 0.4rem;
        margin: auto;
        background-color: #ff1515;
        rotate: -16deg;
      }
    }

    .text {
      font-size: 1.8rem;
    }

    .price-bundle {
      margin-top: 2rem;
      background-color: white;
      color: #292d32;
      padding: 2rem;
      position: relative;
      border-radius: 2rem;
      margin-right: 5rem;

      .price {
        color: #292d32;
        line-height: 1;
      }

      .save {
        color: white;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: #63e04f;
        position: absolute;
        right: 0;
        transform: translateX(50%);
        top: 0;
        bottom: 0;
        height: max-content;
        margin: auto;

        h4 {
          font-size: 3rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }

  .card-8 {
    .icon-list {
      display: flex;
    }

    .btn-download {
      display: flex;
      align-items: center;
      margin-inline: auto;
      margin-bottom: -4rem;

      .icon {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
      }
    }

    .card-text {
      font-size: 1rem;
      font-weight: 500;
    }

    .icon-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline: 1rem;
      width: 33.33%;

      &:not(:last-child) {
        border-right: 0.1rem solid #E0E0E0;
      }
    }
  }
}