<div class="main-wrap">
  <div class="hero-section">
    <div class="hero-image">
      <img src="" class="bag" alt="bag" />
      <picture>
        <source media="(min-width:768px)" srcset="/img/banner-vr.webp" />
        <img class="hero-banner" src="/img/banner-vr-m.webp" alt="bannerVR" />
      </picture>
    </div>
    <span class="hero-title"> new way of learning </span>
    <div className="navlink-item get-in-touch">
      <button>book a demo</button>
      <!-- opens a popup -->
    </div>
  </div>
  <div class="product-section">
    <div class="tab-head">
      <ul class="product-list">
        <li class="navlink-item navlink-item-bio-verse">
          <a class="" href="/bio-verse">
            <img src="/img/bio-verse.svg" alt="menuIcon" />
            BioVerse
          </a>
        </li>
        <li class="navlink-item navlink-item-bio-verse">
          <a class="" href="/bio-verse">
            <img src="/img/bio-verse.svg" alt="menuIcon" />
            BioVerse
          </a>
        </li>
      </ul>
    </div>
    <div class="product-item">
      <picture>
        <source media="(min-width:768px)" srcset="/img/banner-vr.webp" />
        <img class="hero-banner" src="/img/banner-vr-m.webp" alt="bannerVR" />
      </picture>
      <h4 class="section-title">Bio Verse</h4>
      <span class="section-sub-title">
        Uncover the wonders of life with BioVerse, where students engage in
        immersive journeys through biological structures and processes.
      </span>
      <a class="know-more" href="/bio-verse"> Know More </a>
    </div>
  </div>
  <div class="ivr-section">
    <div class="svs-section">
      <h4 class="section-title">Bio Verse</h4>
      <span class="section-sub-title">
        Uncover the wonders of life with BioVerse, where students engage in
        immersive journeys through biological structures and processes.
      </span>
      <a class="know-more" href="/bio-verse"> Know More </a>
      <img class="hero-banner" src="/img/banner-vr-m.webp" alt="bannerVR" />
    </div>
    <div class="card-list">
      <div class="card-item">
        <div class="card-icon">
          <img src="" alt="" />
        </div>
        <div class="card-title">
          <h3>Virtual Reality</h3>
        </div>
        <div class="card-content">
          <p class="text-justify">
            Elevate your possibilities with our cutting-edge VR solutions,
            crafting immersive digital landscapes that transport users to
            extraordinary realms, revolutionizing their interaction with
            technology.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="lab-section">
    <h4 class="section-title">Bio Verse</h4>
    <span class="section-sub-title">
      Uncover the wonders of life with BioVerse, where students engage in
      immersive journeys through biological structures and processes.
    </span>
    <div class="lab-image-section">
      <img class="lab-image" src="" alt="studentVR" />
      <img class="book" src="" alt="book" />
      <img class="scope" src="" alt="scope" />
    </div>
    <a class="know-more" href="/bio-verse"> Know More </a>
  </div>
  <div class="feature-section">
    <div class="card-list">
      <div class="card-item">
        <div class="card-icon">
          <img src="" alt="" />
        </div>
        <div class="card-title">
          <h3>Virtual Reality</h3>
        </div>
        <div class="card-content">
          <p class="text-justify">
            Elevate your possibilities with our cutting-edge VR solutions,
            crafting immersive digital landscapes that transport users to
            extraordinary realms, revolutionizing their interaction with
            technology.
          </p>
        </div>
      </div>
    </div>
    <a class="know-more" href="/bio-verse"> Know More </a>
  </div>
  <div class="about-section">
    <div class="about-logo">
      <img class="fill-logo" src={'/img/logo-text.webp} alt={'SchoolVR'} />
    </div>

    <div class="about-content">
      <h5 class="head-title">About</h5>
      <img src={'/img/logo-fill.webp'} alt={'SchoolVR'} />
      <span class="section-sub-title">
        Introducing SchoolVR, a state-of-the-art Virtual Reality (VR)
        educational app designed to revolutionize the learning experience. With
        a sleek, futuristic interface, SchoolVR offers an immersive, interactive
        environment that brings education to life. Our feature-rich platform
        integrates advanced analytics and Artificial Intelligence (AI) to
        provide personalized learning paths for each student. Teachers and
        schools can leverage these insights to tailor instruction, enhancing
        engagement and improving outcomes. Parents gain a window into their
        child’s progress, with detailed reports highlighting strengths and areas
        for improvement. But most importantly, students are empowered in their
        learning journey, exploring concepts at their own pace in a stimulating
        VR world. SchoolVR is not just an app; it’s a universe of knowledge at
        your fingertips. Join us in shaping the future of education.
      </span>
    </div>
  </div>
</div>
